---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";

/** Body Override */
body {
    color: #dfdfdf;
    font: 400 16px/1.5 "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif;
}

/** Site-header Override */
.site-header {
    background-color: #0078d4;
    min-height: 99.95px;
    line-height: 100px;
}

.site-header .wrapper {
    max-width: calc(1000px - (30px));
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
/** Site-nav Page-link Override */
.site-nav .page-link {
    color: #dfdfdf;
}

/** Site-Title Override */
.site-title {
    font-size: 3.0rem;
    font-weight: 400;
}

.site-title,
.site-title:visited {
    color: #dfdfdf;
}

/** Add logo to heading */
.site-title::before {
    content: url("/assets/images/site/cloud17.png");
    display: inline-block;
    position: relative;
    top: 15px;
    width: 120px;
}

/** Add image to banner to heading */
.banner {
    content: url("/assets/images/site/cloud17-banner.jpg");
    display: inline-block;
    position: relative;
    width: 800px;
}

/** Profile Picture Style*/
.wrapper-about {
    /* This ensures that the wrapper contains its floated children */
    overflow: auto;
}

.profile-pic {
    /* Float the image container to the right */
    float: right;
    width: 150px; /* Set a width for the image container */
    height: 150px; /* Set a height for the image container */
    background-image: url('/assets/images/site/profile-pic.jpg'); /* Adjust the path as necessary */
    background-size: cover; /* Cover the entire area of the div */
    background-position: center; /* Center the background image */
    margin-left: 20px; /* Add some space between the image and the text */
    margin-top: 50px; /* Add some space to align it with the text heading */
}

/* Clearfix solution for .wrapper-about to ensure it contains its floated children properly */
.wrapper-about::after {
    content: "";
    display: table;
    clear: both;
}
